.carousel-item{
    background-color: #777;
    height: 32rem;
position: relative;

}

.container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 150px;







}